.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--dark-bg);
  z-index: 1000;
}

.nav {
  max-width: 1500px;
  margin: 0 auto; 
  padding: 7px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: 70px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  color: var(--white);
  font-weight: 500;
  cursor: pointer;
}

.nav-links li a:hover {
  color: var(--orange);
}

.nav-links a{
  color: var(--orange);
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.nav-links a:hover{
  color: var(--orange);
}

/* Logo + texto juntos */
.nav-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Texto AC Energy */
.nav-title {
  color: var(--white);
  font-size: 30px;
  margin: 0;
  line-height: 1;
}



/* Dropdown */

.dropdown {
  position: relative;
}

.dropdown span {
  color: var(--orange);
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--dark-bg);
  list-style: none;
  padding: 10px 0;
  margin: 0;
  min-width: 200px;
  display: none;
  flex-direction: column;
  border-radius: 6px;
}

.dropdown-menu li {
  padding: 10px 20px;
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
}

.dropdown-menu li a {
  font-size: 18px;
}

.dropdown-menu li:hover {
  background: var(--orange);
}

.dropdown-menu li:hover a {
  color: var(--dark-bg);
}

@media (hover: hover) and (pointer: fine) {
  .dropdown-menu {
    display: none;
  }

  .dropdown-menu.show {
    display: flex;
  } 
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 28px;
  color: var(--white);
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .nav {
    padding: 10px 20px;
  }

  .nav-links {
    position: absolute;
    top: 90px;
    right: 0;
    background: var(--dark-bg);
    flex-direction: column;
    width: 220px;
    padding: 20px;
    gap: 20px;

    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .nav-links.active {
    transform: translateX(0);
  }
}