* {
  box-sizing: border-box;
}


html, body, #root {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --dark-bg: #1A2B3C;
  --orange: #E68A2E;
  --white: #FFFFFF;
  --black: #000000;
  --red: #A63429;
}

body {
  background: #ffffff;
  color: white;
}

#root {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}